body {
    margin: 0;
    padding: 0;
    display: block;
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
}

.navbar-brand,
.nav-link,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: white;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 300;
}

footer {
    height: 65px;
}

/* -------------------------------------- HEADER SECTION -------------------------------------- */
.header__section img {
    max-height: 100vh;
}

/* -------------------------------------- NAV SECTION -------------------------------------- */
.svg-icon {
    max-width: 24px;
    max-height: 24px;
}

/* -------------------------------------- BOOTSTRAP OVERRIDE SECTION -------------------------------------- */
.card img {
    max-height: 45%;
}

/* -------------------------------------- CUSTOM CLASSES SECTION -------------------------------------- */
.w-90 {
    width: 90%;
}