body {
    margin: 0;
    padding: 0;
    display: block;
    background-color: black;
    color: white;
}

.w-90 {
    width: 90%;
}

/* -------------------------------------- HEADER SECTION -------------------------------------- */
.header__section img {
    max-height: 100vh;
}

/* -------------------------------------- HEADER SECTION -------------------------------------- */
.svg-icon {
    max-width: 24px;
    max-height: 24px;
}

.card img {
    max-height: 45%;
}